.One,
.Three {
    background-color: #ffb6c1;
    font-family:Verdana, DejaVu Sans, sans-serif;
}

.Three {
    font-size: 24px;
}

#ID1 {
    font-size: 36px;
    color: #0000ff;
}

#ID2 {
    background-color:#90ee90;
    font-size: 24px;
    font-weight: bold;
}